.content_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  &__list{
    padding: 2rem 10rem;
    list-style: none;
    width: 60%;
    text-align: center;
  }
  &__input{
    padding: .5rem 1rem;
    border:none;
    outline: none;
    border-bottom: 3px solid transparent;
    transition: all .3s;

    &::-webkit-input-placeholder{
      font-family: sans-serif;
      color: #999;
    }
    &-label{
      font-family: sans-serif;
      font-size: 1.3rem;
      font-weight: 700;
      color: #999;
      position: absolute;
      top:110%;
      left:1rem;
      transition: all .3s;
    }
    &:placeholder-shown + &-label{
      top:0;
      opacity: 0;
      visibility: hidden;
    }
  }
  &__button{
    margin-top: 3rem;
    padding: 1rem 2rem;
    border-radius: 100px;
    border: none;
    background-color: orangered;
    color: #fff;
    outline: none;
    cursor: pointer;
  }
  &__add-item{
    display: flex;
    margin-top: 3rem;
    background-color: #fff;
  }
  &__color-selector{
    display: flex;
    align-items: center;
  }
  &__color{
    display: flex;
    border: none;
    outline: none;
    background-color: inherit;

    &:last-of-type{
      margin-right: 1rem;
    }
  }
  &__color::after{
    box-sizing: border-box;
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    opacity: .9;
    visibility: visible;
    border-radius: 3px;
    border: 1.5px solid transparent;
    transition: all .3s;
  }

  &__color:active,
  &__color:focus{
    &::after{
      border: 1.5px solid #c8c8c8;
    }
  }

  &__color.red::after{
    background-color: orangered;

  }


  &__color.blue::after{
    background-color: #137bb0;
  }
  &__color.yellow::after{
    background-color: #a5a50d;
  }
  &__color.orange::after{
    background-color: #996b1d;
  }
  &__color.pink::after{
    background-color: deeppink;
  }
  &__color.purple::after{
    background-color: rebeccapurple;
  }
  &__color.green::after{
    background-color: forestgreen;
  }
}

.input-wrapper{
  position: relative;
}

.loading__faze{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: orangered;
}